#homeScreen {
  width: 50%;
  padding-bottom: 4rem;
}

#homeScreen h1 {
  font-size: 4rem;
  margin: 1rem 0;
  color: var(--accent);
}

#homeScreen p {
  font-size: 2rem;
  color: white;
}

#homeScreen p span {
  color: var(--accent);
}

#homeScreen button {
  margin: 1rem 0;
  font-size: 2rem;
  font-weight: bold;
  color: var(--accent);
}